{{ attach_library('dddlx/paragraphs-clipping') }}

<div class="paragraphs__clipping">

  <div class="paragraphs__clipping__title">
    {{title}}
  </div>

  <div class="paragraphs__clipping__description">
    {{description}}
  </div>

  <div class="paragraphs__clipping__files">
    {{files}}
  </div>

</div>
