@import 'init';

// Clipping
//
// A simple clipping style.
//
// Markup: clipping.twig
//
// Style guide: paragraphs.clipping

.paragraphs__clipping {
  margin: 0 auto 45px;
  max-width: 900px;

  &:not(:first-child) {
    border-top: 1px solid color(grey-extra-light);
    padding-top: 40px;
  }
}

.paragraphs__clipping__title {
  @include font-size(18px);
  font-weight: weight(bold);
  margin: 0 auto;
  color: color(black);
  text-transform: uppercase;
}

.paragraphs__clipping__files {

  span.file {
    display: block;
  }
}
