@import 'init';
// Branding
//
// Markup: branding.twig
//
// Style guide: components.branding

.branding__wrapper {

  @include zen-layout($columns: 8, $gutters: 0) {
    @include respond-to(l) {
      @include zen-grid-item(1, 1);
    }
  }
}

.branding__logo {
  width: 45px;
  height: 45px;
  overflow: hidden;
  float: left;
  margin-top: 10px;
  margin-left: 10px;

  @include respond-to(l) {
    overflow: visible;
    width: 100%;
    padding-bottom: 200%;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    background-color: color('white');
  }
}

// Logo image.
.branding__logo-image {
  vertical-align: middle;
  height: 45px;
  max-width: none;

  @include respond-to(l) {
    height: auto;
    width: 100%;
  }
}

// Logo image text.
.branding__logo-image-text {
  display: none;

  @include respond-to(l) {
    display: block;
    position: absolute;
    z-index: 1;
    width: 90%;
    transform: translateX(-50%);
    left: 50%;
    bottom: 45px;
  }
}

// Wrapper for website name and slogan.
.branding__name-and-slogan {
  float: left;
}

// The name of the website.
.branding__site-name {
  margin: 0;
}

// The link around the name of the website.
.branding__site-link {
  &:link,
  &:visited {
    color: color(text);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// The slogan (or tagline) of a website.
.branding__site-slogan {
  margin: 0;
}
