@import 'init';

$image-url-subdirectory: 'components/header';
// Header
//
// Markup: header.twig
//
// Style guide: components.header

.header,
%header {
  position: fixed;
  width: 100%;
  background-color: color('white');
  z-index: 300;
  top: 0;
  left: 0;

  .is-logged-in-user & {
    top: 40px;
  }

  @include respond-to(xl) {
    top: 0;
    position: relative;
    background: image-url('header_pattern_2.svg') repeat-x center top;
    background-size: contain;

    .is-path-frontpage & {
      @include visually-hidden;
    }

    .is-logged-in-user & {
      top: 0;
    }
  }
}

.header__content {
  @include zen-layout($gutters: 0) {

    @include respond-to(xl) {
      @include clearfix;
      margin: 0 auto;
      position: relative;
    }
  }
}

// Wrapping link for logo.
.header__logo {
  float: left;
  top: 0;
  left: 0;

  @include respond-to(xl) {

  }

  @include rtl() {
    float: right;
    margin: 0 0 0 10px;
  }
}

// Logo image.
.header__logo-image {
  vertical-align: bottom;
}

// Wrapper for website name and slogan.
.header__name-and-slogan {
  float: left;
}

// The name of the website.
.header__site-name {
  margin: 0;
}

// The link around the name of the website.
.header__site-link {
  &:link,
  &:visited {
    color: color(text);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// The slogan (or tagline) of a website.
.header__site-slogan {
  margin: 0;
}

// The secondary menu (login, etc.)
.header__secondary-menu {
  float: right;

  @include rtl() {
    float: left;
  }
}

// Wrapper for any blocks placed in the header region.
.header__region {
  // Clear the logo.
  clear: both;
}
