@import 'init';

.schedule-session-list-item {

  &:last-child {
    margin-bottom: 40px;
  }
}

.schedule-session__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: center;
}

.schedule-session {
  width: 100%;
  padding: 20px;
  position: relative;

  @include respond-to(until-l) {
    border-bottom: 1px solid color(grey-light);

    &:last-child {
      border-bottom: none;
    }
  } 

  @include respond-to(l) {
    width: 33.333%;

    & + & {
      border-left: 1px solid color(grey-light);
    }

    &:nth-child(4) {
      border-right: none;
    }
  }

  h2 {
    margin-top: 0;
  }
}


/*
* Type of session
*/
.schedule-session-type {

}

/*
* Room Name
*/
.schedule-session-room {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
}

.keynote-program__room {
  position: static;
}
