@import 'init';

/*
* Track Type Name
*/
.schedule-session-track-type {
  position: relative;
  padding-left: 50px;

  .session-full__content & {
    margin-bottom: 0;
  }
}

.schedule-session-track-type__icon {
  position: absolute;
  left: 0;
  top: 0;

  path {
    fill: color(blue);
  }
}

.schedule-session-track-type__value {
  line-height: 20px;
} 
