@import 'init';

/*
* Speakers
*/
.schedule-session-speakers__wrapper {
  margin-bottom: 15px;
  flex: 1 1 auto;

  .session-full__user-ref & {
    margin-top: 10px;
  }
}

.schedule-session-speaker {
  display: inline-block;
  margin-right: 20px;

  .session-full__user-ref & {
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid color(grey-light);

    &:last-child {
      margin-right: 0;
      border-right: 0;
      padding-right: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .field--name-field-register-picture {
    max-width: 130px;
  }
}
