@import 'init';

.schedule-break__wrapper {
  text-align: center;
  font-size: 30px;
  color: color(blue);
  margin-top: -20px;
  margin-bottom: 20px;
}
 
.schedule-break {
  //
}


/*
** Description
*/

.schedule-break-description {
  text-align: center;
}
