@import 'init';

.session-program__title {
  margin-bottom: 15px;

  h2 {
    margin: 0;
    font-weight: 400;
  }

}

.keynote-program__title {
  margin-bottom: 15px;

  h2 {
    font-weight: 400;
    font-size: 30px;
    margin: 0;
  }

}
