@import 'init';

// Change the default sub-directory for the image-url() mixin.
$image-url-subdirectory: 'navigation/nav-menu';

// Nav menu
//
// A "nav menu" is secondary, hierarchical navigation which can be displayed to the
// side or below the main content.
//
// Markup: nav-menu.twig
//
// Style guide: navigation.nav-menu

.nav-menu,
%nav-menu {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  &__item {
    border-bottom: 1px solid color(grey-extra-light);
    display: none;

    .nav-menu__item--active-trail & {
      display: block;
      padding-left: 20px;
    }

    &.expanded,
    &--expanded {
      display: block;
    }

    &:last-child {
      border-bottom: 0;
    }

    &--active-trail {
      font-weight: weight(bold);
    }

    a {
      @include type-layout(s, 1);
      padding: 8px 0;
      letter-spacing: 1px;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      transition: color ease .35s;

      &:hover {
        color: color(black);
      }

      &:visited {
        color: color(blue);
      }

      &.is-active,
      &--is-active {
        color: color(menu-active);
      }
    }
  }

  &__link {
    &.is-active,
    &--is-active {
      color: color(menu-active);
    }
  }
}

//
// Drupal selectors.
//

.menu__item {
  @extend %nav-menu__item;

  &.is-expanded {
    @extend %nav-menu__item--expanded;
  }

  // &.is-collapsed {
  //   @extend %nav-menu__item--is-collapsed;
  // }
}

// The active item in a Drupal menu.
.menu a.active {
  @extend %nav-menu__link--is-active;
}
