@import 'init';

// List Grid

.list-grid {
  margin: 20px auto;
  max-width: 1410px;
}

.list-grid__header {
  max-width: 900px;
  margin: 0 auto 30px;
  text-align: center;
}

.list-grid__content {
  @include zen-grid-container($context: flow);
  @include margin-top(4);
}

.list-grid__item {
  
  @include margin-bottom(.8);
  background: color(white);
  padding: 10px zen-half-gutter();
  text-align: center;

  @include zen-respond-to(m) {
    @include zen-apply-gutter-padding();
    width: zen-grid-item-width(1);
    float: left;

    &:nth-child(2n+3) {
      clear: left;
    }
  }

  @include zen-respond-to(l) {
    width: zen-grid-item-width(4);

    &:nth-child(2n+3) {
      clear: none;
    }

    &:nth-child(3n+4) {
      clear: left;
    }
  }

  @include zen-respond-to(xxl) {
    width: zen-grid-item-width(3);

    &:nth-child(3n+4) {
      clear: none;
    }

    &:nth-child(4n+5) {
      clear: left;
    }
  }
}

// .list-grid__item__link {
//   @include button-dddlx(white, black, black);
// }
