@import 'init';

.date {
  background: color(black);
  flex: 0 0 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 10px;

  @include respond-to(l) {
    padding: 20px 10px;
    flex: 0 0 50%;
  }
}

.date__label,
.date__item {
  flex: 0 0 100%;
  text-align: center;
}

.date__label {
  color: color(white);
}

.date__item {
  @include font-size(xl);
  color: color(blue-extra-light);
}

