@import 'init';

// Sponsors
.sponsors-list {
  padding: 20px 30px;
  text-align: center;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: 0;
  }

  &--silver {
    font-size: 24px;

    //img
    // max-height: 80px
    // width: auto
 
  }

  &--bronze {
    font-size: 20px;

    //img
    // max-height: 60px
    // width: auto
 
  }

  @include respond-to(m) {
    padding: 20px 40px;
  }


  &__wrapper {
    position: relative;
    max-width: 91%;
    margin-left: auto;
    margin-right: auto;
    background: color(white);

    @include respond-to(l) {
      max-width: 900px;
    }
  }

  &__title {
    text-transform: uppercase;

    &--platinum {
      font-size: 32px;
    }

    &--diamond {
      font-size: 32px;
    }

    &--gold {
      font-size: 28px;

      .sponsors-list__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
          min-width: 28%;

          &:nth-child(2) {
            margin-top: 10px;
          }
        }
      }
    }

    &--silver {
      font-size: 24px;
    }

    &--bronze {
      font-size: 20px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    align-content: center;
  }

  &__item {
    display: inline-block;
    margin: 0 1rem 1rem;
    list-style: none;

    @include respond-to(s) {
      max-width: 45%;
      margin: 0 1% 1rem;
    }


    @include respond-to(l) {
      max-width: 300px;
      margin: 0 1rem 1rem;
    }


    .sponsors-list--gold & {
      max-width: 200px;

      @include respond-to(s) {
        max-width: 30%;
        margin: 0 1% 1rem;
      }


      @include respond-to(l) {
        max-width: 200px;
        margin: 0 1rem 1rem;
      }
    }
  }
}

// Img styles
img.image-style-bronze-width-150 {
  max-height: 80px;
  width: auto !important;
}

img.image-style-silver-width-200 {
  max-height: 100px;
  width: auto !important;
}

