@import 'init';

// Teaser Article
//
// A teaser article to display the preview of a content
//
// .session-teaser--switch - switch position of image and text content
//
// Markup: article_teaser.twig
//
// Style guide: teasers.article_teaser

.session-teaser {
  text-align: center;
  padding-bottom: 20px;
  position: relative;

  @include respond-to(until-l) {
    padding: 0 (zen-half-gutter()) 20px;
  }

  @include respond-to(l) {
    @include zen-grid-container();
    text-align: left;
    display: flex;
    flex-flow: column;
    height: 100%;

  }
}

// .session-teaser__text__wrapper {

// }


.session-teaser__title {

  h2 {
    @include font-size(xl);
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;

    @include respond-to(l) {
      text-align: left;
    }

    a {
      text-decoration: none;
    }
  }
}

.session-teaser__user-ref {

  .field--name-field-register-picture,
  .user-default__register-picture {
    display: none;
  }

  .user-default__register-drupal-name {
    display: none;
  }

  .user-default__register-name {
    font-size: 21px;
    font-weight: 300;
  }
}

.session-teaser__session-level {

  .field__label {
    display: inline-block;
    font-weight: 400;
    color: color(blue);
  }

  .field__item {
    display: inline-block;
  }
}

// .session-teaser__link {
//   @include button-dddlx(white, black, black);
// }
