@import 'init';

// Comment
//
// dddlx comment block

.comment {

  .indented & {
    padding-left: 20px;
    border-top: 1px solid color(grey-extra-light);
  }
}

.indented {
  padding-left: 20px;
}

.comment__title {
  margin-bottom: 0;
//  display: inline-block;

  @include respond-to(xl) {
    float: left;
  }

  .permalink {
    @include type-layout(xxl, 1);
    padding: 8px 0;
    letter-spacing: 1px;
    color: color(black);
    text-decoration: none;
    font-weight: weight(light);
    transition: color ease .25s;

    &:hover {
      color: color(blue);
    }
  }
}

.comment__mark {
  padding: 5px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  @include type-layout(s, 1);
  text-transform: uppercase;
  font-weight: weight(light);
  color: color(blue-extra-light);
  background: color(black);

  @include respond-to(xl) {
    float: right;
    margin-left: 10px;
  }
}

.comment__permalink {
  display: inline-block;
  margin-top: 24px;

  @include respond-to(xl) {
    float: right;
  }
}

.comment__permalink__link {
  vertical-align: middle;

  svg {
    transition: fill ease .35s;
    fill: color(black);
  }

  &:hover {
    svg {
      transition: fill ease .35s;
      fill: color(blue);
    }
  }
}

.comment__submitted {
  @include type-layout(s, 1);

  @include respond-to(xl) {
    clear: both;
  }
}

.comment__body {
  padding-left: 20px;
  margin-bottom: 30px;
}

%dddlx-comment-btn {
  display: inline-block;
  @include type-layout(s, 1);
  border: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
  color: color(black);
  transition: background ease .25s, color ease .25s;
  margin-bottom: 10px;

  &:hover {
    color: color(blue-extra-light);
    background: color(black);
  }

  @include respond-to(xl) {
    padding: 6px 15px;
  }
}

.comment {

  .comment-delete,
  .comment-edit {
    a {
      @extend %dddlx-comment-btn;
      background: color(grey-extra-light);
    }
  }

  .comment-reply {
    a {
      @extend %dddlx-comment-btn;
      background: color(blue-extra-light);
    }
  }
}
