<ul class="nav-secondary">
  <li class="nav-secondary__item">
    <a href="/user" data-drupal-link-system-path="user">My account</a>
  </li>
  <li class="nav-secondary__item">
    <a href="/user/logout" data-drupal-link-system-path="user/logout">Log out</a>
  </li>
</ul>
