@import 'init';

// Page Title

.page-title {
  @include type-layout(xxl, 2);
  @include margin-bottom(2);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  color: color(title);

  @include respond-to(l) {
    @include type-layout(55px, 3);
  }
}
