@import 'init';

// Responsive 2-column grid
// Needs to be moved to proper place
.layout-2colm,
%layout-2colm {
  @include zen-grid-container($context: flow);
  padding-top: 60px;

  &__right-sidebar {
    margin-top: 20px;

    .menu {
      margin-left: 0;
      margin-top: 0;
    }
  }

  @include zen-respond-to(xl) {
    @include zen-grid-item(4, 1);
    padding-top: 30px;

    &__right-sidebar {
      @include zen-new-row(right);
      @include zen-grid-item(2, 1, right);
      margin-top: 0;
      padding-top: 40px;
    }
  }
}
