@import 'init';

// Teaser Article
//
// A teaser article to display the preview of a content
//
// .article-teaser--switch - switch position of image and text content
//
// Markup: article_teaser.twig
//
// Style guide: teasers.article_teaser

.article-teaser {
  text-align: center;
  padding-bottom: 10px;

  @include respond-to(until-l) {
    padding: 0 (zen-half-gutter()) 10px;
  }

  @include respond-to(l) {
    @include zen-grid-container();
    text-align: left;
    display: flex;
  }
}

.article-teaser__text__wrapper {
  padding-top: 30px;

  @include respond-to(l) {
    // @include zen-grid-item(3, 1);
    padding-left: 20px;
    padding-top: 0;
  }
}

.article-teaser__image__wrapper {
  // @include respond-to(l) {
  //   @include zen-grid-item(3, 4);
  // }
}

%article-teaser__title {

  h2 {
    @include font-size(xl);
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;

    @include respond-to(l) {
      text-align: left;
    }

    a {
      text-decoration: none;
    }
  }
}


.article-teaser__title {
  @extend %article-teaser__title;
}

%article-teaser__subtitle {
  margin-bottom: 20px;
}

.article-teaser__subtitle {
  @extend %article-teaser__subtitle;
}

.article-teaser__link {
  @include button-dddlx(white, black, black);
}

%article-teaser__image {
  position: relative;

  a {
    width: 200px;
    display: inline-block;
  }

  // &::before {
  //   position: absolute;
  //   display: block;
  //   content: '';
  //   bottom: 0;
  //   left: 50%;
  //   transform: translate3d(-50%, 0, 0);
  //   width: 0;
  //   height: 0;
  //   z-index: 10;
  //   border-style: solid;
  //   border-width: 0 15px 10px;
  //   border-color: transparent transparent color('white');

  //   @include respond-to(l) {
  //     bottom: auto;
  //     top: 50%;
  //     left: 0;
  //     transform: translate3d(0, -50%, 0);
  //     border-width: 20px 0 20px 15px;
  //     border-color: transparent transparent transparent color('white');
  //   }
  // }
}


.article-teaser__image {
  @extend %article-teaser__image;
}

.article-teaser {

  .field--name-node-title {
    @extend %article-teaser__title;
  }
  .field--type-image {
    @extend %article-teaser__image;
  }
}
