@import 'init';

// Teaser Page
//
// A teaser page to display the preview of a content
//
// .page-teaser--switch - switch position of image and text content
//
// Markup: page_teaser.twig
//
// Style guide: teasers.page_teaser

.page-teaser {
  //@include margin-top(1);
  @include margin-bottom(3);
  position: relative;

  &::after {
    position: absolute;
    content: '';
    margin-top: 45px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: color(grey-light);

    @include respond-to(xl) {
      left: 15px;
      width: calc(100% - 30px);
    }
  }
}

.page-teaser__content,
.page-teaser__body {
  text-align: center;
}

.page-teaser__body {
  max-width: 900px;
  margin: 0 auto;
}

%page-teaser__title,
.page-teaser__title {
  h2 {
    @include font-size(xxl);
    text-align: center;
    margin: 20px auto 30px;
    text-transform: uppercase;
    letter-spacing: 3px;

    @include respond-to(m) {
      @include font-size(38px);
    }

    a {
      text-decoration: none;
    }
  }
}

.page-teaser__link {
  a {
    display: inline-block;
    text-transform: uppercase;
    color: color(black);
    padding: 10px 15px;
    text-decoration: none;
    background: color(blue-extra-light);
    transition: background ease .25s, color ease .25s;

    &:hover {
      color: color(blue-extra-light);
      background: color(black);
    }
  }
}
