<br/><br/>
<div class="homepage-intro__wrapper">
    <div class="homepage-intro">

        <div class="homepage-intro__btn">
            <a href="/attendees">Confirmed attendees <h2>{{ attendees }}</h2></a>
        </div>
    </div>
</div>