@import 'init';

$image-url-subdirectory: 'containers/page_full';

// Shared scss for the full view modes

%full {
  overflow: hidden;
}

%full__header__wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  min-height: 140px;

  @include respond-to(xl) {
    margin-top: 0;
  }
}

%full__header__wrapper--with-background {
  margin-bottom: 50px;

  h1 {
    background: rgba(color('white'), .85);
    box-shadow: 0 0 20px 0 rgba(color('black'), .25);
    padding: 20px;
    text-align: center;
  }
}

%full__image {
  z-index: 1;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    padding-bottom: 100%;
    background: image-url('image_pattern.svg') repeat-x center top;
    background-size: contain;
  }
}

%full__header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  //justify-content: center;
}

%full__title {

  h1 {
    @include type-layout(xxl, 1.5);
    font-weight: 300;

    @include respond-to(l) {
      @include type-layout(45px, 2.5);
    }
  }
}

/* Sidebar & content */
%full__content-outer-wrapper {
  position: relative;
}

%full__content-wrapper {

  @include zen-respond-to(xl) {
    margin: 0 (-(zen-half-gutter()));
  }
}

%full__tags {
  padding-bottom: 10px;

  .field__item {
    display: inline-block;
  }

  .field__item span {
    text-transform: uppercase;
    margin: 0 5px 10px;
  }
}
