@import 'init';

// Change the default sub-directory for the image-url() mixin.
$image-url-subdirectory: 'containers/homepage_slider';

// Image
//
// A simple image style.
//
// Markup: image.twig
//
// Style guide: paragraphs.image

.paragraphs__image {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-bottom: 45px;
}

// slick slider in image paragraph
.slick--optionset--paragraphs-image-slider {
  position: relative;

  .slick__arrow {
    top: calc(50% - 62px);
    position: absolute;
    width: 100%;
    pointer-events: none;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    width: 40px;
    height: 60px;
    pointer-events: auto;
    background: none;
    border: 0;
    outline: 0;
    opacity: .75;
    transition: opacity ease .25s;

    &:hover {
      opacity: 1;
    }
  }

  .slick-prev {
    left: 0;
    background-image: image-url('arrow_left.png');
  }

  .slick-next {
    right: 0;
    background-image: image-url('arrow_right.png');
  }

  .slick-dotted {
    text-align: center;
  }

  .slick-dots {
    padding: 0;
    margin: 20px auto;

    li {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;

      button {
        display: none;
      }
    }
  }
}
