<div class="navbar__wrapper">

  <div class="navbar__mobile-menu__toggle">
    <span class="navbar__mobile-menu__icon"></span>
  </div>

  {% block content %}
    {{ content }}
  {% endblock %}
  
</div>

