<div class="navbar__wrapper">

  <div class="navbar__mobile-menu__toggle">
    <span class="navbar__mobile-menu__icon"></span>
  </div>

  <div class="nav-primary__slogan"><span>Monday 2nd July Friday 6th July at ISCTE</span></div>

  {% block content %}
    {{ content }}
  {% endblock %}
  
</div>

