@import 'init';

// Teaser Article
//
// A teaser article to display the preview of a content
//
// .keynote-teaser--switch - switch position of image and text content
//
// Markup: article_teaser.twig
//
// Style guide: teasers.article_teaser

.keynote-teaser {
  display: flex;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(color(title), .2);
  flex-wrap: wrap;
  text-align: center;

  @include respond-to(l) {
    padding: 0 20px 40px 20px;
    flex-wrap: nowrap;
    text-align: left;
    margin-bottom: 40px;
  }
}

.keynote-teaser__image__wrapper {
  width: 100%;

  @include respond-to(l) {
    max-width: 350px;
    margin-left: 30px;
    order: 2;

    .list-row__item:nth-child(2n+1) & {
      order: 1;
      margin-left: 0;
      margin-right: 30px;
    }
  }
}

.keynote-teaser__image {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    background: rgba(color(title), .2);
    width: calc(100% + 40px);
    height: 100%;
    right: -20px;
    top: -20px;
    display: block;
    z-index: -1;

    @include respond-to(l) {
      width: 100%;
      height: calc(100% + 40px);
  
      .list-row__item:nth-child(2n+1) & {
        top: -20px;
        left: -20px;
        right: 0;
      }
    }
  }
}

.keynote-teaser__content__wrapper {

  @include respond-to(l) {
    order: 1;

    .list-row__item:nth-child(2n+1) & {
      order: 2;
    }
  }
}

.keynote-teaser__title {

  @include respond-to(l) {

    h2 {
      @include font-size(xxl);
    }
  }
}
