/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.admin-tabs {
  margin-bottom: 50px;
}

@media (min-width: 888px) {
  .admin-tabs {
    position: absolute;
    right: 20px;
    top: -103px;
  }
}
