/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.article-full {
  overflow: hidden;
}

.article-full__header__wrapper {
  background-color: #e6ebf4;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.article-full__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.article-full__title h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: left;
  font-weight: normal;
}

@media (min-width: 888px) {
  .article-full__title h1 {
    font-size: 2.8125rem;
    line-height: 3.75rem;
  }
}

/* Sidebar & content */
.article-full__content-outer-wrapper {
  position: relative;
}

@media (min-width: 999px) {
  .article-full__content-wrapper {
    margin: 0 -20px;
  }
}

.article-full__tags {
  padding-bottom: 10px;
}

.article-full__tags .field__item {
  display: inline-block;
}

.article-full__tags .field__item span {
  text-align: center;
  display: inline-block;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: color ease .35s, background ease .35s;
  text-transform: uppercase;
  margin: 0 5px 10px;
}

.article-full__tags .field__item span a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  background-color: #fff;
  transition: color ease .35s, background ease .35s;
  border: 1px solid #000;
  color: #000;
  transition: color ease .35s, background ease .35s;
}

.article-full__tags .field__item span a:hover, .article-full__tags .field__item span a:focus, .article-full__tags .field__item span a:active {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.article-full__tags .field__item span:hover, .article-full__tags .field__item span:focus, .article-full__tags .field__item span:active {
  background-color: #000;
  color: #fff;
}

.article-full__tags .field__item span:hover a, .article-full__tags .field__item span:focus a, .article-full__tags .field__item span:active a {
  color: #fff;
}

[dir="rtl"] .article-full__tags .field__item span {
  text-align: center;
}

/* Sidebar & content */
@media (min-width: 999px) {
  .article-full__content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .article-full__content {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}

@media (min-width: 999px) {
  .article-full__sidebar-bottom {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .article-full__sidebar-bottom {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
}

@media (min-width: 999px) {
  .article-full__footer__wrapper {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .article-full__footer__wrapper {
    clear: right;
  }
  [dir="rtl"] .article-full__footer__wrapper {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}
