.article-teaser {
  text-align: center;
  padding-bottom: 10px;
}

@media (min-width: 0) and (max-width: 887px) {
  .article-teaser {
    padding: 0 20px 10px;
  }
}

@media (min-width: 888px) {
  .article-teaser {
    text-align: left;
    display: -webkit-box;
    display: flex;
  }
  .article-teaser:before {
    content: "";
    display: table;
  }
  .article-teaser:after {
    content: "";
    display: table;
    clear: both;
  }
}

.article-teaser__text__wrapper {
  padding-top: 30px;
}

@media (min-width: 888px) {
  .article-teaser__text__wrapper {
    padding-left: 20px;
    padding-top: 0;
  }
}

.article-teaser__title h2, .article-teaser .field--name-node-title h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

@media (min-width: 888px) {
  .article-teaser__title h2, .article-teaser .field--name-node-title h2 {
    text-align: left;
  }
}

.article-teaser__title h2 a, .article-teaser .field--name-node-title h2 a {
  text-decoration: none;
}

.article-teaser__subtitle {
  margin-bottom: 20px;
}

.article-teaser__link {
  text-align: center;
  display: inline-block;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: color ease .35s, background ease .35s;
}

.article-teaser__link a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  background-color: #fff;
  transition: color ease .35s, background ease .35s;
  border: 1px solid #000;
  color: #000;
  transition: color ease .35s, background ease .35s;
}

.article-teaser__link a:hover, .article-teaser__link a:focus, .article-teaser__link a:active {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.article-teaser__link:hover, .article-teaser__link:focus, .article-teaser__link:active {
  background-color: #000;
  color: #fff;
}

.article-teaser__link:hover a, .article-teaser__link:focus a, .article-teaser__link:active a {
  color: #fff;
}

[dir="rtl"] .article-teaser__link {
  text-align: center;
}

.article-teaser__image, .article-teaser .field--type-image {
  position: relative;
}

.article-teaser__image a, .article-teaser .field--type-image a {
  width: 200px;
  display: inline-block;
}
