/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.article-full {
  overflow: hidden;
}

.article-full__header__wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 60px;
}

@media (min-width: 999px) {
  .article-full__header__wrapper {
    margin-top: 0;
  }
}

.article-full__image {
  z-index: 1;
  position: relative;
}

.article-full__image::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  padding-bottom: 100%;
  background: url(../..//containers/page_full/image_pattern.svg) repeat-x center top;
  background-size: contain;
}

.article-full__title h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  padding: 20px;
  text-align: center;
  font-weight: 300;
}

@media (min-width: 888px) {
  .article-full__title h1 {
    font-size: 2.8125rem;
    line-height: 3.75rem;
  }
}

/* Sidebar & content */
.article-full__content-outer-wrapper {
  position: relative;
}

@media (min-width: 999px) {
  .article-full__content-wrapper {
    margin: 0 -20px;
  }
}

.article-full__tags {
  padding-bottom: 10px;
}

.article-full__tags .field__item {
  display: inline-block;
}

.article-full__tags .field__item span {
  text-transform: uppercase;
  margin: 0 5px 10px;
}

/* Sidebar & content */
@media (min-width: 999px) {
  .article-full__content {
    float: left;
    width: 400%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .article-full__content {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}

@media (min-width: 999px) {
  .article-full__sidebar-bottom {
    float: right;
    width: 200%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .article-full__sidebar-bottom {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
}

@media (min-width: 999px) {
  .article-full__footer__wrapper {
    clear: left;
    float: left;
    width: 600%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .article-full__footer__wrapper {
    clear: right;
  }
  [dir="rtl"] .article-full__footer__wrapper {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}
