/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
@media (min-width: 888px) {
  .branding__wrapper {
    float: left;
    width: 12.5%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
  }
  [dir="rtl"] .branding__wrapper {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}

.branding__logo {
  width: 45px;
  height: 45px;
  overflow: hidden;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

@media (min-width: 888px) {
  .branding__logo {
    overflow: visible;
    width: 100%;
    padding-bottom: 200%;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    background-color: #fff;
  }
}

.branding__logo-image {
  vertical-align: middle;
  height: 45px;
  max-width: none;
}

@media (min-width: 888px) {
  .branding__logo-image {
    height: auto;
    width: 100%;
  }
}

.branding__logo-image-text {
  display: none;
}

@media (min-width: 888px) {
  .branding__logo-image-text {
    display: block;
    position: absolute;
    z-index: 1;
    width: 90%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    bottom: 45px;
  }
}

.branding__name-and-slogan {
  float: left;
}

.branding__site-name {
  margin: 0;
}

.branding__site-link:link, .branding__site-link:visited {
  color: #000;
  text-decoration: none;
}

.branding__site-link:hover, .branding__site-link:focus {
  text-decoration: underline;
}

.branding__site-slogan {
  margin: 0;
}
