/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.branding__logo {
  width: 45px;
  height: 45px;
  overflow: hidden;
  float: left;
  margin-top: 4px;
}

.branding__logo-image {
  vertical-align: middle;
  height: 45px;
  max-width: none;
}

.branding__name-and-slogan {
  float: left;
}

.branding__site-name {
  margin: 0;
}

.branding__site-link:link, .branding__site-link:visited {
  color: #000;
  text-decoration: none;
}

.branding__site-link:hover, .branding__site-link:focus {
  text-decoration: underline;
}

.branding__site-slogan {
  margin: 0;
}
