/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
@media (min-width: 730px) {
  .branding__wrapper {
    padding-top: 20px;
    height: 155px;
  }
}

.branding__logo {
  width: 33px;
  height: 45px;
  overflow: hidden;
  float: left;
  margin-top: 4px;
}

@media (min-width: 730px) {
  .branding__logo {
    overflow: initial;
    margin: 0 10px 0 0;
    padding: 0;
    width: 145px;
    height: 120px;
  }
}

.branding__logo-image {
  vertical-align: middle;
  height: 45px;
  max-width: none;
}

@media (min-width: 730px) {
  .branding__logo-image {
    height: 120px;
  }
}

.branding__name-and-slogan {
  float: left;
}

.branding__site-name {
  margin: 0;
}

.branding__site-link:link, .branding__site-link:visited {
  color: #000;
  text-decoration: none;
}

.branding__site-link:hover, .branding__site-link:focus {
  text-decoration: underline;
}

.branding__site-slogan {
  margin: 0;
}
