.date {
  background: #000;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  display: -webkit-box;
  display: flex;
  align-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  padding: 40px 10px;
}

@media (min-width: 888px) {
  .date {
    padding: 20px 10px;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
  }
}

.date__label,
.date__item {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  text-align: center;
}

.date__label {
  color: #fff;
}

.date__item {
  font-size: 1.5rem;
  color: #e6ebf4;
}
