/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.event-full {
  overflow: hidden;
}

.event-full__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.event-full__title h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: left;
  font-weight: normal;
}

@media (min-width: 888px) {
  .event-full__title h1 {
    font-size: 2.8125rem;
    line-height: 3.75rem;
  }
}

/* Sidebar & content */
.event-full__content-outer-wrapper {
  position: relative;
}

@media (min-width: 999px) {
  .event-full__content-wrapper {
    margin: 0 -20px;
  }
}

.event-full__tags {
  padding-bottom: 10px;
}

.event-full__tags .field__item {
  display: inline-block;
}

.event-full__tags .field__item span {
  text-align: center;
  display: inline-block;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: color ease .35s, background ease .35s;
  text-transform: uppercase;
  margin: 0 5px 10px;
}

.event-full__tags .field__item span a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  background-color: #fff;
  transition: color ease .35s, background ease .35s;
  border: 1px solid #000;
  color: #000;
  transition: color ease .35s, background ease .35s;
}

.event-full__tags .field__item span a:hover, .event-full__tags .field__item span a:focus, .event-full__tags .field__item span a:active {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.event-full__tags .field__item span:hover, .event-full__tags .field__item span:focus, .event-full__tags .field__item span:active {
  background-color: #000;
  color: #fff;
}

.event-full__tags .field__item span:hover a, .event-full__tags .field__item span:focus a, .event-full__tags .field__item span:active a {
  color: #fff;
}

[dir="rtl"] .event-full__tags .field__item span {
  text-align: center;
}

@media (min-width: 999px) {
  .event-full__sidebar-top {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .event-full__sidebar-top {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
}

@media (min-width: 999px) {
  .event-full__content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .event-full__content {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}

@media (min-width: 999px) {
  .event-full__sidebar-bottom {
    clear: right;
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .event-full__sidebar-bottom {
    clear: left;
  }
  [dir="rtl"] .event-full__sidebar-bottom {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
}

@media (min-width: 999px) {
  .event-full__footer__wrapper {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .event-full__footer__wrapper {
    clear: right;
  }
  [dir="rtl"] .event-full__footer__wrapper {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}

.event-full__event-end-date {
  border-top: 1px solid #fff;
}

.event-full__url, .event-full__file, .event-full__tags, .event-full__event-registration {
  margin: 0 auto 20px;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 1px;
}

@media (min-width: 999px) {
  .event-full__url, .event-full__file, .event-full__tags, .event-full__event-registration {
    margin: 0 auto;
    text-align: left;
  }
}

.event-full__url .field__label, .event-full__file .field__label, .event-full__tags .field__label, .event-full__event-registration .field__label {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.event-full__url .field--label-above, .event-full__file .field--label-above, .event-full__tags .field--label-above, .event-full__event-registration .field--label-above {
  display: block;
  width: 100%;
}

.event-full__url .field__item {
  text-align: center;
  display: inline-block;
  color: #000;
  background-color: #e6ebf4;
  cursor: pointer;
  transition: color ease .35s, background ease .35s;
  text-transform: uppercase;
}

.event-full__url .field__item a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  background-color: #e6ebf4;
  transition: color ease .35s, background ease .35s;
  border: 1px solid #e6ebf4;
  color: #000;
  transition: color ease .35s, background ease .35s;
}

.event-full__url .field__item a:hover, .event-full__url .field__item a:focus, .event-full__url .field__item a:active {
  border: 1px solid #e6ebf4;
  background-color: #000;
  color: #e6ebf4;
}

.event-full__url .field__item:hover, .event-full__url .field__item:focus, .event-full__url .field__item:active {
  background-color: #000;
  color: #e6ebf4;
}

.event-full__url .field__item:hover a, .event-full__url .field__item:focus a, .event-full__url .field__item:active a {
  color: #e6ebf4;
}

[dir="rtl"] .event-full__url .field__item {
  text-align: center;
}
