/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
@media (min-width: 0) and (max-width: 998px) {
  .field-list {
    margin-bottom: 40px;
  }
}

.field-list__label {
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding-top: 24px;
  margin: 24px auto;
  display: block;
  border-top: 1px solid #ededed;
}

.field-list__item {
  margin-bottom: 24px;
}

.field-list__item:last-child {
  margin-bottom: 0;
}

.field-list__item .field:last-child {
  margin-bottom: 0;
}
