.footer {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 40px;
  text-align: center;
  background: #5776b7;
  color: #e6ebf4;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer__menu {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media (min-width: 555px) {
  .footer__menu {
    padding: 10px;
    text-align: center;
    max-width: 1024px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
            align-items: stretch;
    flex-wrap: wrap;
  }
}

@media (min-width: 730px) {
  .footer__menu {
    flex-wrap: nowrap;
  }
}

.footer__menu__item {
  position: relative;
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid #c4cfe5;
}

.footer__menu__item:last-child {
  border-bottom: none;
}

@media (min-width: 555px) {
  .footer__menu__item {
    -webkit-box-flex: 0;
            flex: 0 0 33.333%;
    max-width: 33.333%;
    display: -webkit-box;
    display: flex;
    padding: 0;
    border: 0;
    -webkit-box-align: center;
            align-items: center;
  }
}

@media (min-width: 730px) {
  .footer__menu__item {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    max-width: none;
  }
}

.footer__menu__item a {
  padding: 15px 20px;
  margin: 0 auto;
  text-decoration: none;
  position: relative;
  color: #fff;
}

@media (min-width: 555px) {
  .footer__menu__item a {
    text-transform: uppercase;
    padding: 15px 20px;
    margin: 0 auto;
    text-decoration: none;
    position: relative;
    transition: color ease .35s;
  }
}

.footer__menu__item a:hover {
  color: #e6ebf4;
}

/*
** footer organization
*/
.footer-follow__wrapper {
  position: relative;
  width: 100%;
  background: #3c4b82;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 10px;
}

.footer-follow__wrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  background: #29314b;
  background: linear-gradient(to bottom, rgba(41, 49, 75, 0.35) 0%, rgba(41, 49, 75, 0) 100%);
}

@media (min-width: 888px) {
  .footer-follow__wrapper {
    flex-wrap: nowrap;
    padding: 20px 10px 0;
  }
}

.footer-follow__wrapper p {
  text-transform: uppercase;
  font-size: 14px;
}

.footer-follow-organization__wrapper {
  text-align: center;
  padding: 20px;
}

@media (min-width: 888px) {
  .footer-follow-organization__wrapper {
    padding: 20px 40px 0 20px;
  }
}

.footer-follow-organization__wrapper p {
  margin-bottom: 5px;
  color: #fff;
}

.footer-follow-organization__logo {
  width: 200px;
  display: block;
}

/*
** end organization
*/
/*
** footer social media
*/
.footer-follow-social__wrapper {
  padding: 20px;
}

@media (min-width: 888px) {
  .footer-follow-social__wrapper {
    padding: 20px 20px 20px 40px;
  }
}

.footer-follow-drupal-social__wrapper {
  width: 100%;
  text-align: center;
}

.footer-follow-drupal-social {
  margin: 0 auto;
  padding: 0;
}

.footer-follow-drupal-social li {
  display: inline-block;
  margin-right: 20px;
  font-size: 50px;
}

.footer-follow-drupal-social li:last-child {
  margin-right: 0;
}

.footer-follow-drupal-social li a span.drupalday {
  font-family: FontAwesome !important;
  border-radius: 25px;
  color: #3c4b82;
  background-color: #fff;
  padding: 12.5px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  transition: color ease 0.3s;
}

.footer-follow-drupal-social li a span.drupalday:hover {
  background-color: #c4cfe5;
}

/*
** end social media
*/
.footer-tag__wrapper {
  width: 100%;
  background: #3c4b82;
  padding: 15px 10px 30px;
}

/*
** This is the azulejo mosaic containing the azulejo logo
*/
.footer-section__azulejo {
  background: #29314b;
  position: relative;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.footer-section__azulejo::before {
  content: '';
  display: block;
  width: 100%;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  background: #29314b;
  background: linear-gradient(to bottom, #29314b 0%, rgba(41, 49, 75, 0) 100%);
}

.footer-section__azulejo__center {
  height: 276px;
  width: 459px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer-section__azulejo__left, .footer-section__azulejo__right {
  height: 276px;
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  background-size: 275px 276px;
}

.footer-section__azulejo__left {
  background: url(../..//components/footer/pattern_azulejo_left.svg);
  background-position: top right;
}

.footer-section__azulejo__right {
  background: url(../..//components/footer/pattern_azulejo_right.svg);
  background-position: top left;
}
