.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 300;
  top: 0;
  left: 0;
}

.is-logged-in-user .header {
  top: 40px;
}

@media (min-width: 999px) {
  .header {
    top: 0;
    position: relative;
    background: url(../..//components/header/header_pattern_2.svg) repeat-x center top;
    background-size: contain;
    margin-bottom: 40px;
  }
  .is-path-frontpage .header {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal;
  }
  .is-logged-in-user .header {
    top: 0;
  }
}

@media (min-width: 999px) {
  .header__content {
    margin: 0 auto;
    position: relative;
  }
  .header__content::before {
    content: '';
    display: table;
  }
  .header__content::after {
    content: '';
    display: table;
    clear: both;
  }
}

.header__logo {
  float: left;
  top: 0;
  left: 0;
}

[dir="rtl"] .header__logo {
  float: right;
  margin: 0 0 0 10px;
}

.header__logo-image {
  vertical-align: bottom;
}

.header__name-and-slogan {
  float: left;
}

.header__site-name {
  margin: 0;
}

.header__site-link:link, .header__site-link:visited {
  color: #000;
  text-decoration: none;
}

.header__site-link:hover, .header__site-link:focus {
  text-decoration: underline;
}

.header__site-slogan {
  margin: 0;
}

.header__secondary-menu {
  float: right;
}

[dir="rtl"] .header__secondary-menu {
  float: left;
}

.header__region {
  clear: both;
}
