.homepage-featured-news {
  padding: 10px 0 40px;
  border-top: 1px solid #c4cfe5;
}

@media (min-width: 999px) {
  .homepage-featured-news {
    padding-bottom: 20px;
  }
}

.homepage-featured-news .more-link__wrapper {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 888px) {
  .homepage-featured-news .more-link__wrapper {
    text-align: left;
  }
}

.homepage-featured-news__title {
  font-size: 32px;
  text-align: center;
}

@media (min-width: 888px) {
  .homepage-featured-news__title {
    text-align: left;
  }
}
