.homepage-intro__wrapper {
  background: #5776b7 url(../..//components/footer/footer_pattern.svg) repeat-x center top;
  width: 100%;
  padding: 60px 10px;
  margin: 0;
}

@media (min-width: 999px) {
  .homepage-intro__wrapper {
    margin: 0 auto;
    padding: 150px 10px 60px;
  }
}

.homepage-intro {
  max-width: 960px;
  margin: 70px auto 0;
  text-align: center;
}

@media (min-width: 999px) {
  .homepage-intro {
    margin: 0 auto;
  }
}

.homepage-intro__btn {
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin: 10px auto;
  padding: 0 10px;
}

@media (min-width: 999px) {
  .homepage-intro__btn {
    margin: 0 auto 10px;
  }
}

.homepage-intro__btn a {
  transition: color ease .25s, background ease .25s;
  display: block;
  padding: 10px 20px;
  background: #fff;
  color: #5776b7;
  text-decoration: none;
}

.homepage-intro__btn a:hover {
  color: #fff;
  background: #29314b;
}
