.hero__text {
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}

@media (min-width: 999px) {
  .hero__text {
    text-align: left;
    font-size: 34px;
    line-height: 2.65rem;
  }
}

@media (min-width: 999px) {
  .hero__text span {
    display: block;
  }
}

.quick-info__title {
  font-size: 18px;
  text-align: center;
}

@media (min-width: 999px) {
  .quick-info__title {
    font-size: 25px;
    text-align: left;
  }
}

.quick-info__text {
  text-align: center;
  margin: 0 auto 60px;
}

@media (min-width: 999px) {
  .quick-info__text {
    text-align: left;
  }
}
