/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.homepage-intro__wrapper {
  background: #5776b7 url(../..//components/footer/footer_pattern.svg) repeat-x center top;
  width: 100%;
  padding: 150px 10px 60px;
}

.homepage-intro {
  max-width: 960px;
  margin: 70px auto 0;
  text-align: center;
}

@media (min-width: 888px) {
  .homepage-intro {
    margin: 0 auto;
  }
}

.homepage-intro__btn {
  display: inline-block;
  background: #fff;
  padding: 10px 20px;
  color: #5776b7;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: color ease .25s, background ease .25s;
  margin: 10px auto;
}

@media (min-width: 888px) {
  .homepage-intro__btn {
    margin: 0 auto;
  }
  .homepage-intro__btn:nth-child(2) {
    margin-left: 20px;
  }
}

.homepage-intro__btn:hover {
  color: #fff;
  background: #1F2E44;
}
