/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.keynote-teaser {
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid #5776b7;
  flex-wrap: wrap;
  text-align: center;
}

@media (min-width: 888px) {
  .keynote-teaser {
    padding: 0 20px 40px 20px;
    flex-wrap: nowrap;
    text-align: left;
    margin-bottom: 40px;
  }
}

.keynote-teaser__image__wrapper {
  width: 100%;
}

@media (min-width: 888px) {
  .keynote-teaser__image__wrapper {
    max-width: 350px;
    margin-left: 30px;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .list-row__item:nth-child(2n+1) .keynote-teaser__image__wrapper {
    -webkit-box-ordinal-group: 2;
            order: 1;
    margin-left: 0;
    margin-right: 30px;
  }
}

.keynote-teaser__image {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.keynote-teaser__image::after {
  content: '';
  position: absolute;
  background: rgba(87, 118, 183, 0.2);
  width: calc(100% + 40px);
  height: 100%;
  right: -20px;
  top: -20px;
  display: block;
  z-index: -1;
}

@media (min-width: 888px) {
  .keynote-teaser__image::after {
    width: 100%;
    height: calc(100% + 40px);
  }
  .list-row__item:nth-child(2n+1) .keynote-teaser__image::after {
    top: -20px;
    left: -20px;
    right: 0;
  }
}

@media (min-width: 888px) {
  .keynote-teaser__content__wrapper {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .list-row__item:nth-child(2n+1) .keynote-teaser__content__wrapper {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
