/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.list-grid {
  margin: 20px auto;
  max-width: 1410px;
}

.list-grid__header {
  max-width: 900px;
  margin: 0 auto 30px;
  text-align: center;
}

.list-grid__content {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 6rem;
}

.list-grid__content:before {
  content: "";
  display: table;
}

.list-grid__content:after {
  content: "";
  display: table;
  clear: both;
}

.list-grid__item {
  margin-bottom: 1.2rem;
  background: #fff;
  padding: 10px 20px;
  text-align: center;
}

@media (min-width: 730px) {
  .list-grid__item {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    float: left;
  }
  .list-grid__item:nth-child(2n+3) {
    clear: left;
  }
}

@media (min-width: 888px) {
  .list-grid__item {
    width: 33.33333%;
  }
  .list-grid__item:nth-child(2n+3) {
    clear: none;
  }
  .list-grid__item:nth-child(3n+4) {
    clear: left;
  }
}

@media (min-width: 1111px) {
  .list-grid__item {
    width: 25%;
  }
  .list-grid__item:nth-child(3n+4) {
    clear: none;
  }
  .list-grid__item:nth-child(4n+5) {
    clear: left;
  }
}
