/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.more-link {
  text-align: center;
  display: inline-block;
  color: #000;
  background-color: #e6ebf4;
  cursor: pointer;
  transition: color ease .35s, background ease .35s;
}

.more-link a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #e6ebf4;
  transition: color ease .35s, background ease .35s;
  border: 1px solid #e6ebf4;
  color: #000;
  transition: color ease .35s, background ease .35s;
}

.more-link a:hover, .more-link a:focus, .more-link a:active {
  border: 1px solid #e6ebf4;
  background-color: #000;
  color: #e6ebf4;
}

.more-link:hover, .more-link:focus, .more-link:active {
  background-color: #000;
  color: #e6ebf4;
}

.more-link:hover a, .more-link:focus a, .more-link:active a {
  color: #e6ebf4;
}

[dir="rtl"] .more-link {
  text-align: center;
}
