/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.nav-menu {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav-menu__item,
.menu__item {
  border-bottom: 1px solid #ededed;
  display: none;
}

.nav-menu__item--active-trail .nav-menu__item,
.nav-menu__item--active-trail .menu__item {
  display: block;
  padding-left: 20px;
}

.nav-menu__item.expanded, .nav-menu__item--expanded,
.expanded.menu__item,
.menu__item.is-expanded {
  display: block;
}

.nav-menu__item:last-child,
.menu__item:last-child {
  border-bottom: 0;
}

.nav-menu__item--active-trail {
  font-weight: bold;
}

.nav-menu__item a, .menu__item a {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 8px 0;
  letter-spacing: 1px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  transition: color ease .35s;
}

.nav-menu__item a:hover, .menu__item a:hover {
  color: #000;
}

.nav-menu__item a:visited, .menu__item a:visited {
  color: #5776b7;
}

.nav-menu__item a.is-active, .nav-menu__item a--is-active, .menu__item a.is-active, .menu__item a--is-active {
  color: #000;
}

.nav-menu__link.is-active, .nav-menu__link--is-active,
.menu a.active {
  color: #000;
}
