/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.nav-secondary__block-wrapper {
  position: relative;
}

@media (min-width: 730px) {
  .nav-secondary__block-wrapper {
    display: block;
    margin: 0 auto;
    height: 0;
    max-width: 1165px;
  }
}

.nav-secondary {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #fff;
}

@media (min-width: 730px) {
  .nav-secondary {
    position: absolute;
    top: -115px;
    right: 0;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    height: 100%;
    max-width: 1024px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
            align-items: stretch;
    background: transparent;
  }
}

.nav-secondary__item,
.nav-secondary li {
  position: relative;
  display: block;
  width: auto;
  background-color: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}

@media (min-width: 730px) {
  .nav-secondary__item,
  .nav-secondary li {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
    display: -webkit-box;
    display: flex;
    padding: 8px 0;
    padding: 0;
    border: 0;
    -webkit-box-align: center;
            align-items: center;
    background: transparent;
  }
}

.nav-secondary__item a,
.nav-secondary li a {
  padding: 15px 20px;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
  position: relative;
}

@media (min-width: 730px) {
  .nav-secondary__item a,
  .nav-secondary li a {
    padding: 10px 15px;
    margin: 0 auto;
    text-decoration: none;
    position: relative;
    transition: color ease .35s;
    font-size: 14px;
  }
}

.nav-secondary__item a:hover,
.nav-secondary li a:hover {
  color: #e6ebf4;
}
