/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
/* .nav-primary__block-wrapper {

} */
.nav-primary, .nav-primary--sub-menu {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #fff;
}

.nav-primary--sub-menu {
  display: block;
}

@media (min-width: 888px) {
  .nav-primary--sub-menu {
    display: -webkit-box;
    display: flex;
    background: transparent;
    position: absolute;
    flex-wrap: wrap;
    top: calc(100% - 15px);
    left: -15px;
    width: calc(100% + 30px);
    transition: all .35s ease;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .nav-primary__item:hover .nav-primary--sub-menu {
    visibility: visible;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.nav-primary__item {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #cccccc;
}

.nav-primary__item:last-child {
  border-bottom: 1px solid #cccccc;
}

@media (min-width: 888px) {
  .nav-primary__item {
    border: 0;
    display: block;
    float: left;
    width: 33.333%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
  }
  .nav-primary__item:last-child {
    border: 0;
  }
  .nav-primary--sub-menu .nav-primary__item {
    width: 100%;
    background-color: transparent;
  }
}

.nav-primary__item a {
  padding: 15px 20px;
  margin: 0 auto;
  color: #000;
  text-decoration: none;
  width: 100%;
  display: block;
  position: relative;
  border: 1px solid #fff;
  transition: all ease .35s;
  background: #fff;
}

@media (min-width: 888px) {
  .nav-primary__item a {
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-decoration: none;
    position: absolute;
    height: 100%;
    border: 1px solid #c4cfe5;
  }
}

.nav-primary__item a:hover, .nav-primary__item a.is-active {
  color: #5776b7;
  border: 1px solid #5776b7;
  background: #e6ebf4;
}

.nav-primary--sub-menu .nav-primary__item a {
  background: #e6ebf4;
  border: 1px solid #e6ebf4;
  color: #5776b7;
}

@media (min-width: 888px) {
  .nav-primary--sub-menu .nav-primary__item a {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: #5776b7;
    color: #fff;
  }
}

.nav-primary--sub-menu .nav-primary__item a:hover, .nav-primary--sub-menu .nav-primary__item a.is-active {
  background: #c4cfe5;
  border: 1px solid #c4cfe5;
}

@media (min-width: 888px) {
  .nav-primary--sub-menu .nav-primary__item a:hover, .nav-primary--sub-menu .nav-primary__item a.is-active {
    color: #5776b7;
    border: 1px solid #5776b7;
    background: #e6ebf4;
  }
}

.nav-primary__item__wrapper {
  width: 100%;
  display: block;
  position: relative;
}

@media (min-width: 888px) {
  .nav-primary__item__wrapper {
    padding-bottom: 100%;
  }
  .nav-primary--sub-menu .nav-primary__item__wrapper {
    padding-bottom: 40%;
  }
}

.nav-primary__slogan {
  display: none;
}

@media (min-width: 888px) {
  .nav-primary__slogan {
    float: right;
    width: 28.57143%;
    margin-right: 42.85714%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    text-align: right;
    min-height: 120px;
    position: relative;
  }
  [dir="rtl"] .nav-primary__slogan {
    float: left;
    margin-left: 42.85714%;
    margin-right: -100%;
  }
  .nav-primary__slogan span {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    top: 0;
    height: 100%;
    position: absolute;
    padding-right: 20px;
  }
}
