/* .nav-primary__block-wrapper {

} */
.nav-primary, .nav-primary--sub-menu {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #fff;
  font-size: 16px;
}

@media (min-width: 999px) {
  .nav-primary, .nav-primary--sub-menu {
    font-size: 14px;
  }
}

@media (min-width: 1111px) {
  .nav-primary, .nav-primary--sub-menu {
    font-size: 16px;
  }
}

.nav-primary li, .nav-primary--sub-menu li {
  list-style-type: none;
}

.nav-primary--sub-menu {
  display: block;
}

@media (min-width: 999px) {
  .nav-primary--sub-menu {
    display: -webkit-box;
    display: flex;
    background: transparent;
    position: absolute;
    flex-wrap: wrap;
    top: calc(100% - 15px);
    left: -15px;
    width: calc(100% + 30px);
    transition: all .15s ease;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
            transform: translateY(-10%);
    z-index: 10;
  }
  .nav-primary__item:hover .nav-primary--sub-menu {
    visibility: visible;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    transition: all .35s ease;
    opacity: 1;
  }
}

.nav-primary__item {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #cccccc;
}

.nav-primary__item:last-child {
  border-bottom: 1px solid #cccccc;
}

@media (min-width: 999px) {
  .nav-primary__item {
    display: block;
    float: left;
    width: 33.333%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    border: 0;
    font-size: .85em;
  }
  .nav-primary--sub-menu .nav-primary__item {
    width: 100%;
    background-color: transparent;
    border: 0;
  }
}

@media (min-width: 1111px) {
  .nav-primary__item {
    font-size: 1em;
  }
}

.nav-primary__item a {
  padding: 15px 20px;
  margin: 0 auto;
  color: #5776b7;
  text-decoration: none;
  width: 100%;
  display: block;
  position: relative;
  border: 1px solid #fff;
  transition: all ease .35s;
  background-color: #fff;
}

@media (min-width: 999px) {
  .nav-primary__item a {
    border: 0;
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-decoration: none;
    position: absolute;
    height: 100%;
    background: url(../..//navigation/nav-primary/nav_bg.svg) no-repeat center center;
    background-size: cover;
  }
}

.nav-primary__item a.is-active {
  color: #fff;
  background-color: #5776b7;
  border: 1px solid #5776b7;
}

@media (min-width: 999px) {
  .nav-primary__item a.is-active {
    border: 0;
    color: #fff;
    background-color: #3c4b82;
  }
}

.nav-primary__item a.is-active:hover {
  color: #fff;
  background-color: #3c4b82;
}

@media (min-width: 999px) {
  .nav-primary__item a.is-active:hover {
    color: #5776b7;
    background-color: #e6ebf4;
  }
}

.nav-primary__item a:hover {
  color: #5776b7;
  background-color: #e6ebf4;
  border: 1px solid #e6ebf4;
}

@media (min-width: 999px) {
  .nav-primary__item a:hover {
    border: 0;
  }
}

.nav-primary--sub-menu .nav-primary__item a {
  background-color: #e6ebf4;
  border: 1px solid #e6ebf4;
  color: #5776b7;
}

@media (min-width: 999px) {
  .nav-primary--sub-menu .nav-primary__item a {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background: none;
    background-color: #5776b7;
    color: #fff;
    border: 0;
    padding: 0 10px;
    line-height: 1.2em;
  }
}

.nav-primary--sub-menu .nav-primary__item a:hover, .nav-primary--sub-menu .nav-primary__item a.is-active {
  background-color: #c4cfe5;
}

@media (min-width: 999px) {
  .nav-primary--sub-menu .nav-primary__item a:hover, .nav-primary--sub-menu .nav-primary__item a.is-active {
    border: 0;
    color: #5776b7;
    background-color: #e6ebf4;
  }
}

.nav-primary__item__wrapper {
  width: 100%;
  display: block;
  position: relative;
}

@media (min-width: 999px) {
  .nav-primary__item__wrapper {
    padding-bottom: 100%;
  }
  .nav-primary--sub-menu .nav-primary__item__wrapper {
    padding-bottom: 40%;
  }
}

.nav-primary__slogan {
  display: none;
}

@media (min-width: 999px) {
  .nav-primary__slogan {
    float: right;
    width: 9.09091%;
    margin-right: 54.54545%;
    margin-left: -100%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    text-align: right;
    position: relative;
  }
  [dir="rtl"] .nav-primary__slogan {
    float: left;
    margin-left: 54.54545%;
    margin-right: -100%;
  }
}

.nav-primary__slogan__inner {
  padding-bottom: 100%;
}

.nav-primary__slogan__inner span {
  width: 300%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  text-align: center;
  padding: 0 20px;
  font-weight: bold;
  color: #3c4b82;
}
