.page-teaser {
  margin-bottom: 4.5rem;
  position: relative;
}

.page-teaser::after {
  position: absolute;
  content: '';
  margin-top: 45px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

@media (min-width: 999px) {
  .page-teaser::after {
    left: 15px;
    width: calc(100% - 30px);
  }
}

.page-teaser__content,
.page-teaser__body {
  text-align: center;
}

.page-teaser__body {
  max-width: 900px;
  margin: 0 auto;
}


.page-teaser__title h2 {
  font-size: 2rem;
  text-align: center;
  margin: 20px auto 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (min-width: 730px) {
  
  .page-teaser__title h2 {
    font-size: 2.375rem;
  }
}


.page-teaser__title h2 a {
  text-decoration: none;
}

.page-teaser__link a {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  background: #e6ebf4;
  transition: background ease .25s, color ease .25s;
}

.page-teaser__link a:hover {
  color: #e6ebf4;
  background: #000;
}
