.page-title {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
}

@media (min-width: 888px) {
  .page-title {
    font-size: 3.4375rem;
    line-height: 4.5rem;
  }
}
