.page-full {
  overflow: hidden;
}

.page-full__header__wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  min-height: 65vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

@media (min-width: 999px) {
  .page-full__header__wrapper {
    height: 45vh;
  }
}

.page-full__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.page-full__header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 70px;
  z-index: 10;
  position: relative;
}

.page-full__header h1, .page-full__title h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

@media (min-width: 888px) {
  .page-full__header h1, .page-full__title h1 {
    font-size: 2.8125rem;
    line-height: 3.75rem;
  }
}

/* Sidebar & content */
.page-full__content-outer-wrapper {
  position: relative;
}

@media (min-width: 999px) {
  .page-full__content-wrapper {
    margin: 0 -20px;
  }
}

.page-full__tags {
  padding-bottom: 10px;
}

.page-full__tags .field__item {
  display: inline-block;
}

.page-full__tags .field__item span {
  text-transform: uppercase;
  margin: 0 5px 10px;
}

.page-full__image::before {
  content: '';
  display: block;
  position: absolute;
  top: 60px;
  left: -1px;
  z-index: 8;
  width: calc(100% + 2px);
  padding-bottom: 100%;
  background: url(../..//containers/page_full/image_pattern.svg) repeat-x center top;
  background-size: contain;
}

@media (min-width: 999px) {
  .page-full__image::before {
    top: 0;
  }
}

/* Sidebar & content */
@media (min-width: 999px) {
  .page-full__content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .page-full__content {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}

@media (min-width: 999px) {
  .page-full__sidebar-bottom {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .page-full__sidebar-bottom {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
}

@media (min-width: 999px) {
  .page-full__footer__wrapper {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .page-full__footer__wrapper {
    clear: right;
  }
  [dir="rtl"] .page-full__footer__wrapper {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}
