/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.paragraphs__image {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin-bottom: 45px;
}

.slick--optionset--paragraphs-image-slider {
  position: relative;
}

.slick--optionset--paragraphs-image-slider .slick__arrow {
  top: calc(50% - 62px);
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.slick--optionset--paragraphs-image-slider .slick-prev,
.slick--optionset--paragraphs-image-slider .slick-next {
  position: absolute;
  width: 40px;
  height: 60px;
  pointer-events: auto;
  background: none;
  border: 0;
  outline: 0;
  opacity: .75;
  transition: opacity ease .25s;
}

.slick--optionset--paragraphs-image-slider .slick-prev:hover,
.slick--optionset--paragraphs-image-slider .slick-next:hover {
  opacity: 1;
}

.slick--optionset--paragraphs-image-slider .slick-prev {
  left: 0;
  background-image: url(../..//containers/homepage_slider/arrow_left.png);
}

.slick--optionset--paragraphs-image-slider .slick-next {
  right: 0;
  background-image: url(../..//containers/homepage_slider/arrow_right.png);
}

.slick--optionset--paragraphs-image-slider .slick-dotted {
  text-align: center;
}

.slick--optionset--paragraphs-image-slider .slick-dots {
  padding: 0;
  margin: 20px auto;
}

.slick--optionset--paragraphs-image-slider .slick-dots li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.slick--optionset--paragraphs-image-slider .slick-dots li button {
  display: none;
}
