@charset "UTF-8";
/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.paragraphs__quote {
  text-align: center;
  margin: 0 auto 45px;
}

.paragraphs__quote__content {
  padding: 0 50px 10px;
  font-style: italic;
  font-size: 21px;
  line-height: 38px;
  max-width: 900px;
  position: relative;
  z-index: 5;
}

.paragraphs__quote__content::before {
  display: block;
  content: '“';
  position: absolute;
  z-index: -1;
  color: #ededed;
  font-size: 180px;
  left: 0;
  top: 35px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 730px) {
  .paragraphs__quote__content::before {
    font-size: 180px;
  }
}

.paragraphs__quote__author {
  color: #999999;
  max-width: 900px;
}
