/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.paragraphs__clipping {
  margin: 0 auto 45px;
  max-width: 900px;
}

.paragraphs__clipping:not(:first-child) {
  border-top: 1px solid #ededed;
  padding-top: 40px;
}

.paragraphs__clipping__title {
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0 auto;
  color: #000;
  text-transform: uppercase;
}

.paragraphs__clipping__files span.file {
  display: block;
}
