/*
* Track Type Name
*/
.schedule-session-track-type {
  position: relative;
  padding-left: 50px;
}

.schedule-session-track-type__icon {
  position: absolute;
  left: 0;
  top: 0;
}

.schedule-session-track-type__icon path {
  fill: #5776b7;
}

.schedule-session-track-type__value {
  line-height: 20px;
}
