.schedule-period__wrapper {
  padding: 30px 0;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  position: relative;
}

.schedule-period {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  background: #ffffff;
  z-index: 5;
  padding: 0 10px;
  font-size: 18px;
  color: #5776b7;
}

.schedule-period__border {
  height: 2px;
  background: #5776b7;
  width: 100%;
  position: absolute;
  z-index: 1;
}
