.schedule-session-list-item:last-child {
  margin-bottom: 40px;
}

.schedule-session__wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  -webkit-box-pack: center;
          justify-content: center;
}

.schedule-session {
  width: 100%;
  padding: 20px;
  position: relative;
}

@media (min-width: 0) and (max-width: 887px) {
  .schedule-session {
    border-bottom: 1px solid #cccccc;
  }
  .schedule-session:last-child {
    border-bottom: none;
  }
}

@media (min-width: 888px) {
  .schedule-session {
    width: 33.333%;
  }
  .schedule-session + .schedule-session {
    border-left: 1px solid #cccccc;
  }
  .schedule-session:nth-child(4) {
    border-right: none;
  }
}

.schedule-session h2 {
  margin-top: 0;
}

/*
* Type of session
*/
/*
* Room Name
*/
.schedule-session-room {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
}

.keynote-program__room {
  position: static;
}
