/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.schedule-session__wrapper {
  border: thin solid blue;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.schedule-session {
  width: 100%;
  border: thin solid black;
  padding: 20px;
}

@media (min-width: 730px) {
  .schedule-session {
    width: 50%;
  }
}

@media (min-width: 888px) {
  .schedule-session {
    width: 33%;
  }
}

.schedule-session h2 {
  margin-top: 0;
}

/*
* Type of session
*/
.schedule-session-type {
  border: thin solid burlywood;
}

/*
* Speakers
*/
.schedule-session-speakers__wrapper {
  border: thin solid hotpink;
}

.schedule-session-speaker {
  display: inline-block;
  margin-right: 20px;
}

.schedule-session-speaker:last-child {
  margin-right: 0;
}

/*
* Room Name
*/
.schedule-session-room {
  border: thin solid paleturquoise;
}

/*
* Track Type Name
*/
.schedule-session-track-type {
  border: thin solid yellowgreen;
  display: inline-block;
  margin-right: 5px;
}

/*
* Level
*/
.schedule-session-level {
  border: thin solid teal;
  display: inline-block;
}
