/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.section {
  overflow: hidden;
  padding: 0 20px 15px;
}

@media (min-width: 730px) {
  .section {
    padding: 20px 40px;
  }
}

@media (min-width: 888px) {
  .section {
    padding: 0 0 40px;
  }
}

.section--grey {
  background-color: #ededed;
}

.section__inner {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  position: relative;
}

.section__inner:before {
  content: "";
  display: table;
}

.section__inner:after {
  content: "";
  display: table;
  clear: both;
}

.section__inner .more-link__wrapper {
  text-align: center;
  margin: 40px auto 20px;
}

@media (min-width: 888px) {
  .section__inner .more-link__wrapper {
    margin: 40px auto 10px;
  }
}

.section__inner .more-link__wrapper::before {
  content: '';
  display: table;
  clear: both;
}

.section__title {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (min-width: 888px) {
  .section__title {
    margin-left: 40px;
  }
}

.section__item-first {
  padding-bottom: 4.5rem;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  color: #000;
}

.section__item-first a {
  text-decoration: none;
  color: #000;
}

.section__item-first a:hover {
  color: #5776b7;
}

.section__item {
  margin-bottom: 1.5rem;
}

@media (min-width: 888px) {
  .section__item {
    padding-left: 20px;
    padding-right: 20px;
    width: 33.33333%;
    float: left;
  }
}
