/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.session-program__title {
  margin-bottom: 15px;
}

.session-program__title h2 {
  margin: 0;
  font-weight: 400;
}

.keynote-program__title {
  margin-bottom: 15px;
}

.keynote-program__title h2 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
