/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.sponsors-list {
  padding: 20px 30px;
  text-align: center;
}

.sponsors-list--silver {
  font-size: 24px;
}

.sponsors-list--bronze {
  font-size: 20px;
}

@media (min-width: 730px) {
  .sponsors-list {
    padding: 20px 40px;
  }
}

.sponsors-list__wrapper {
  position: relative;
  max-width: 91%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

@media (min-width: 888px) {
  .sponsors-list__wrapper {
    max-width: 900px;
  }
}

.sponsors-list__wrapper::before, .sponsors-list__wrapper::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 17px;
}

.sponsors-list__wrapper::before {
  left: 0;
  background: #fff url("../images/frame__left.svg") repeat-y center bottom;
}

.sponsors-list__wrapper::after {
  right: 0;
  background: #fff url("../images/frame__right.svg") repeat-y center bottom;
}

.sponsors-list__title {
  text-transform: uppercase;
}

.sponsors-list__title--platinum {
  font-size: 32px;
}

.sponsors-list__title--diamond {
  font-size: 32px;
}

.sponsors-list__title--gold {
  font-size: 28px;
}

.sponsors-list__title--gold .sponsors-list__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

.sponsors-list__title--gold .sponsors-list__list li {
  min-width: 28%;
}

.sponsors-list__title--gold .sponsors-list__list li:nth-child(2) {
  margin-top: 10px;
}

.sponsors-list__title--silver {
  font-size: 24px;
}

.sponsors-list__title--bronze {
  font-size: 20px;
}

.sponsors-list__list {
  margin: 0;
  padding: 0;
  align-content: center;
}

.sponsors-list__item {
  display: inline-block;
  margin: 0 1rem 1rem;
  list-style: none;
}

@media (min-width: 666px) {
  .sponsors-list__item {
    max-width: 45%;
    margin: 0 1% 1rem;
  }
}

@media (min-width: 888px) {
  .sponsors-list__item {
    max-width: 300px;
    margin: 0 1rem 1rem;
  }
}

.sponsors-list--gold .sponsors-list__item {
  max-width: 200px;
}

@media (min-width: 666px) {
  .sponsors-list--gold .sponsors-list__item {
    max-width: 30%;
    margin: 0 1% 1rem;
  }
}

@media (min-width: 888px) {
  .sponsors-list--gold .sponsors-list__item {
    max-width: 200px;
    margin: 0 1rem 1rem;
  }
}

.sponsors-list__bottom-frame, .sponsors-list__top-frame {
  position: relative;
  width: 100%;
  height: 16px;
  background: #fff url("../images/frame__bottom.svg") repeat-x center bottom;
  z-index: 1;
}

@media (min-width: 0) and (max-width: 729px) {
  .sponsors-list__bottom-frame, .sponsors-list__top-frame {
    background-size: 819px;
  }
}

.sponsors-list__bottom-frame::before, .sponsors-list__top-frame::before, .sponsors-list__bottom-frame::after, .sponsors-list__top-frame::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 26px;
  height: 26px;
}

.sponsors-list__bottom-frame::before, .sponsors-list__top-frame::before {
  left: 0;
  background: #fff url("../images/frame__corner-left.svg") no-repeat right bottom;
}

.sponsors-list__bottom-frame::after, .sponsors-list__top-frame::after {
  right: 0;
  background: #fff url("../images/frame__corner-right.svg") no-repeat left bottom;
}

.sponsors-list__top-frame {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sponsors-list__top-frame::before {
  left: 0;
  background: #fff url("../images/frame__corner-right.svg") no-repeat right bottom;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.sponsors-list__top-frame::after {
  right: 0;
  background: #fff url("../images/frame__corner-left.svg") no-repeat left bottom;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

img.image-style-bronze-width-150 {
  max-height: 80px;
  width: auto !important;
}

img.image-style-silver-width-200 {
  max-height: 100px;
  width: auto !important;
}
