/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.dddlx-taxonomy-term__title__link .field--name-name {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.5rem;
  border: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 4px;
  color: #000;
  background: #f8f8f8;
  transition: background ease .25s, color ease .25s;
}

.dddlx-taxonomy-term__title__link .field--name-name:hover {
  color: #e6ebf4;
  background: #000;
}
