/*! typey | GPLv2 License | https://github.com/jptaranto/typey */
.tech-sheet-full {
  overflow: hidden;
}

.tech-sheet-full__header__wrapper {
  background-color: #e6ebf4;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.tech-sheet-full__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
}

.tech-sheet-full__header__wrapper .field--name-node-title h1, .caf-criteria-full__title h1,
.caf-indicator-full__title h1,
.caf-subcriteria-full__title h1,
.ods-goal-full__title h1,
.ods-indicator-full__title h1,
.ods-objective-full__title h1,
.tech-sheet-full__title h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: left;
  font-weight: normal;
}

@media (min-width: 888px) {
  .tech-sheet-full__header__wrapper .field--name-node-title h1, .caf-criteria-full__title h1,
  .caf-indicator-full__title h1,
  .caf-subcriteria-full__title h1,
  .ods-goal-full__title h1,
  .ods-indicator-full__title h1,
  .ods-objective-full__title h1,
  .tech-sheet-full__title h1 {
    font-size: 2.8125rem;
    line-height: 3.75rem;
  }
}

/* Sidebar & content */
.tech-sheet-full__content-outer-wrapper {
  position: relative;
}

@media (min-width: 999px) {
  .tech-sheet-full__content-wrapper {
    margin: 0 -20px;
  }
}

.tech-sheet-full__tags {
  padding-bottom: 10px;
}

.tech-sheet-full__tags .field__item {
  display: inline-block;
}

.tech-sheet-full__tags .field__item span {
  text-align: center;
  display: inline-block;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: color ease .35s, background ease .35s;
  text-transform: uppercase;
  margin: 0 5px 10px;
}

.tech-sheet-full__tags .field__item span a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  background-color: #fff;
  transition: color ease .35s, background ease .35s;
  border: 1px solid #000;
  color: #000;
  transition: color ease .35s, background ease .35s;
}

.tech-sheet-full__tags .field__item span a:hover, .tech-sheet-full__tags .field__item span a:focus, .tech-sheet-full__tags .field__item span a:active {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}

.tech-sheet-full__tags .field__item span:hover, .tech-sheet-full__tags .field__item span:focus, .tech-sheet-full__tags .field__item span:active {
  background-color: #000;
  color: #fff;
}

.tech-sheet-full__tags .field__item span:hover a, .tech-sheet-full__tags .field__item span:focus a, .tech-sheet-full__tags .field__item span:active a {
  color: #fff;
}

[dir="rtl"] .tech-sheet-full__tags .field__item span {
  text-align: center;
}

.tech-sheet-full {
  overflow: initial;
}

.tech-sheet-full__header__wrapper a {
  color: #004b79;
}

.tech-sheet-full__header__wrapper a:visited {
  color: #5776b7;
}

.tech-sheet-full__header__wrapper {
  background-color: #c4cfe5;
}

.tech-sheet-full__header__wrapper .field--name-field-update-date {
  color: #5776b7;
}

.caf-criteria-full__header,
.caf-indicator-full__header,
.caf-subcriteria-full__header,
.ods-goal-full__header,
.ods-indicator-full__header,
.ods-objective-full__header,
.tech-sheet-full__header {
  padding-bottom: 70px;
}

.tech-sheet-full__header__wrapper .field--name-node-title, .caf-criteria-full__title,
.caf-indicator-full__title,
.caf-subcriteria-full__title,
.ods-goal-full__title,
.ods-indicator-full__title,
.ods-objective-full__title,
.tech-sheet-full__title {
  color: #004b79;
}

.tech-sheet-full__header__wrapper .field--name-field-name, .caf-criteria-full__name,
.caf-indicator-full__name,
.caf-subcriteria-full__name,
.ods-goal-full__name,
.ods-indicator-full__name,
.ods-objective-full__name,
.tech-sheet-full__name {
  font-size: 1.5rem;
  color: #004b79;
  margin-bottom: 10px;
}

/* Sidebar & content */
.tech-sheet-full__sidebar-bottom .field__label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0;
}

.tech-sheet-full__sidebar-bottom .field__item a, .tech-sheet-full__sidebar-bottom .item-list a {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 8px 0;
  letter-spacing: 1px;
  color: #5776b7;
  text-transform: uppercase;
}

.tech-sheet-full__sidebar-bottom .field__item a:hover, .tech-sheet-full__sidebar-bottom .item-list a:hover {
  color: #000;
}

@media (min-width: 999px) {
  .tech-sheet-full__content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .tech-sheet-full__content {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}

.tech-sheet-full__content .field {
  margin-bottom: 20px;
}

.tech-sheet-full__content .field--type-entity-reference {
  display: block;
  width: 100%;
}

.tech-sheet-full__content .field--type-entity-reference::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 999px) {
  .tech-sheet-full__sidebar-bottom {
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .tech-sheet-full__sidebar-bottom {
    float: left;
    margin-left: 0%;
    margin-right: -100%;
  }
}

.tech-sheet-full__sidebar-bottom .field--name-field-forum-state {
  margin-top: 20px;
}

.tech-sheet-full__sidebar-bottom .item-list ul,
.tech-sheet-full__sidebar-bottom .item-list li {
  list-style-type: none;
  margin: 0;
}

@media (min-width: 999px) {
  .tech-sheet-full__footer__wrapper {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  [dir="rtl"] .tech-sheet-full__footer__wrapper {
    clear: right;
  }
  [dir="rtl"] .tech-sheet-full__footer__wrapper {
    float: right;
    margin-right: 0%;
    margin-left: -100%;
  }
}

.caf-criteria-full__update-date,
.caf-indicator-full__update-date,
.caf-subcriteria-full__update-date,
.ods-goal-full__update-date,
.ods-indicator-full__update-date,
.ods-objective-full__update-date {
  color: #5776b7;
}

.caf-criteria-forum__full-name,
.caf-indicator-forum__full-name,
.caf-subcriteria-forum__full-name,
.ods-goal-forum__full-name,
.ods-indicator-forum__full-name,
.ods-objective-forum__full-name {
  color: #5776b7;
}
