@import '../full';

// schedule Full view mode
//
// A full view mode to display the schedule content
//
// Markup: schedule_full.twig
//
// Style guide: teasers.schedule-page_full

.schedule-page-full {
  @extend %full;
}

.schedule-page-full__title {
  @extend %full__title;
}

/* Sidebar & content */
.schedule-page-full__content-wrapper {
  @extend %full__content-wrapper;
}

.schedule-page-full__content-wrapper {
  
}

.schedule-page-full__tags {
  @extend %full__tags;
}


//Menu
.field--name-dynamic-block-fieldnode-schedule-menu {

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 2em;
  }

  .menu-item {
    display: flex;
    align-items: center;
    width: 19%;
    min-width: 115px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 0.5em;
    background-color: color(white);
    min-height: 40px;
    border: 1px solid color(blue);
    padding: 4px 8px;

    &--active-trail {
      background-color: color(blue);
    }

    @include respond-to(until-l) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      min-width: 100%;
    }

    a {
      text-transform: uppercase;
      color: color(blue);
      transition: all 0.5s ease;
      display: block;
      width: 100%;
      text-align: center;

      &.is-active {
        cursor: default;
        color: color(white);
      }
    }
  }
}

// Legend block
$legend: (
  development,
  frontend,
  being-human,
  case-studies,
  devops,
  performance,
  other,
  site-building
);

ul.schedule-legend {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @include respond-to(until-l) {
    visibility: hidden;
    height: 0;
  }

  li.schedule-legend__item {
    width: 25%;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 13px;
    background-size: 40px;
    padding-left: 50px;
    margin-bottom: 16px;
  }

  @each $type in $legend {
    .schedule-legend__item--#{$type} {
      background-image: url("../../components/schedule/icons/#{$type}.svg");
    }
  }
}

