@import '../full';

$image-url-subdirectory: 'containers/page_full';

// Page Full view mode
//
// A full view mode to display the basic page content
//
// Markup: page_full.twig
//
// Style guide: teasers.page_full
.page-full {
  @extend %full;
}

.page-full__header__wrapper {
  @extend %full__header__wrapper;
}

.page-full__image {
  @extend %full__image;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    left: -1px;
    z-index: 8;
    width: calc(100% + 2px);
    padding-bottom: 100%;
    background: image-url('image_pattern.svg') repeat-x center top;
    background-size: contain;

    @include respond-to(xl) {
      top: 0;
    }
  }
}

.page-full__header {
  @extend %full__header;
  @extend %full__title;
}

.page-full__title {
  @extend %full__title;
}

/* Sidebar & content */
.page-full__content-outer-wrapper {
  @extend %full__content-outer-wrapper;
}

.page-full__content-wrapper {
  @extend %full__content-wrapper;
}

.page-full__content {
  @include zen-respond-to(xl) {
    @include zen-grid-item(8, 1);
  }
}

.page-full__sidebar-bottom {
  @include zen-respond-to(xl) {
    @include zen-grid-item(4, 1, right);
  }
}

.page-full__footer__wrapper {
  @include zen-respond-to(xl) {
    @include zen-new-row();
    @include zen-grid-item(12, 1);
  }
}

.page-full__tags {
  @extend %full__tags;
}
