@import 'init';

// Comments
//
// dddlx block of comments.

.dddlx-form-title {
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding-top: 24px;
  margin: 24px auto;
  display: block;
  border-top: 1px solid color(grey-extra-light);
}
