@import 'init';

// Quote
//
// A simple quote style.
//
// Markup: quote.twig
//
// Style guide: paragraphs.quote

.paragraphs__quote {
  text-align: center;
  margin: 0 auto 45px;
}

.paragraphs__quote__content {
  padding: 0 50px 10px;
  font-style: italic;
  font-size: 21px;
  line-height: 38px;
  max-width: 900px;
  position: relative;
  z-index: 5;

  &::before {
    display: block;
    content: '“';
    position: absolute;
    z-index: -1;
    color: color('grey-extra-light');
    font-size: 180px;
    left: 0;
    top: 35px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

    @include respond-to(m) {
      font-size: 180px;
    }
  }
}

.paragraphs__quote__author {
  color: color('grey');
  max-width: 900px;
}
