{{ attach_library('dddlx/paragraphs-quote') }}

<div class="paragraphs__quote {{modifier_class}}">
  <div class="paragraphs__quote__content">
    {{content}}
  </div>
  <h4 class="paragraphs__quote__author">{{author}}</h4>
</div>
